flows_Cap9/Removing_data_records.json
[
    {
        "id": "618a7fa7f7a9b387",
        "type": "tab",
        "label": "Removing Data Records",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6fa41f04e3a91cc7",
        "type": "http in",
        "z": "618a7fa7f7a9b387",
        "name": "",
        "url": "/purge/:topic/id/:id",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 240,
        "y": 400,
        "wires": [
            [
                "52665c7a4177da22"
            ]
        ]
    },
    {
        "id": "52665c7a4177da22",
        "type": "function",
        "z": "618a7fa7f7a9b387",
        "name": "delete_id",
        "func": "// if no authentication filter defined or available\n// set the default value as 1\nif(!msg.req.authFilter)\n msg.req.authFilter = 1;\nmsg.topic = \"DELETE FROM thingData\" +\n \" WHERE deleted=1\" +\n \" AND\" +\n \" topic='\" + msg.req.params.topic + \"'\" +\n \" AND (\" + msg.req.authFilter + \")\" +\n \" AND id=\" + msg.req.params.id + \";\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 400,
        "wires": [
            [
                "9495db5716e33dd6"
            ]
        ]
    },
    {
        "id": "9495db5716e33dd6",
        "type": "mysql",
        "z": "618a7fa7f7a9b387",
        "mydb": "a637cc34049dd28f",
        "name": "",
        "x": 760,
        "y": 480,
        "wires": [
            [
                "5bdccb8c6ec886f7"
            ]
        ]
    },
    {
        "id": "5bdccb8c6ec886f7",
        "type": "function",
        "z": "618a7fa7f7a9b387",
        "name": "Response",
        "func": "msg.payload = {\n \"found\": msg.payload.affectedRows,\n \"changed\": msg.payload.changedRows,\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 480,
        "wires": [
            [
                "e5fda0c4816e2056"
            ]
        ]
    },
    {
        "id": "e5fda0c4816e2056",
        "type": "http response",
        "z": "618a7fa7f7a9b387",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1090,
        "y": 480,
        "wires": []
    },
    {
        "id": "6dc9b9d34799d2fd",
        "type": "http in",
        "z": "618a7fa7f7a9b387",
        "name": "",
        "url": "/purge/:topic",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 220,
        "y": 460,
        "wires": [
            [
                "6fd248a41d245b43"
            ]
        ]
    },
    {
        "id": "6fd248a41d245b43",
        "type": "function",
        "z": "618a7fa7f7a9b387",
        "name": "Delete_Topic",
        "func": "// if no authentication filter defined or available\n// set the default value as 1\nif(!msg.req.authFilter)\n msg.req.authFilter = 1;\nmsg.topic = \"DELETE FROM thingData\" +\n \" WHERE deleted=1\" +\n \" AND\" +\n \" topic='\" + msg.req.params.topic + \"'\" +\n \" AND (\" + msg.req.authFilter + \");\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 460,
        "wires": [
            [
                "9495db5716e33dd6"
            ]
        ]
    },
    {
        "id": "de9d459e35dd4e3b",
        "type": "http in",
        "z": "618a7fa7f7a9b387",
        "name": "",
        "url": "/purge/:topic/last/:count",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 260,
        "y": 520,
        "wires": [
            [
                "5ca42ec8a0b56c53"
            ]
        ]
    },
    {
        "id": "8a145aee38fb3a1a",
        "type": "http in",
        "z": "618a7fa7f7a9b387",
        "name": "",
        "url": "/purge/:topic/first/:count",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 260,
        "y": 580,
        "wires": [
            [
                "29ba6840367066e6"
            ]
        ]
    },
    {
        "id": "5ca42ec8a0b56c53",
        "type": "function",
        "z": "618a7fa7f7a9b387",
        "name": "Delete_last",
        "func": "// if required record count is not specified\n// set default to 1\nif(!msg.req.params.count)\n msg.req.params.count = 1;\n// if no authentication filter defined or available\n// set the default value as 1\nif(!msg.req.authFilter)\n msg.req.authFilter = 1;\n\nmsg.topic = \"DELETE FROM thingData\" +\n \" WHERE deleted=1\" +\n \" AND\" +\n \" topic='\" + msg.req.params.topic + \"'\" +\n \" AND (\" + msg.req.authFilter + \")\" +\n \" ORDER BY id DESC LIMIT \" + msg.req.params.count +\n\";\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 520,
        "wires": [
            [
                "9495db5716e33dd6"
            ]
        ]
    },
    {
        "id": "29ba6840367066e6",
        "type": "function",
        "z": "618a7fa7f7a9b387",
        "name": "Delete_first",
        "func": "// if required record count is not specified\n// set default to 1\nif(!msg.req.params.count)\n msg.req.params.count = 1;\n// if no authentication filter defined or available\n// set the default value as 1\nif(!msg.req.authFilter)\n msg.req.authFilter = 1;\n\nmsg.topic = \"DELETE FROM thingData\" +\n \" WHERE deleted=1\" +\n \" AND\" +\n \" topic='\" + msg.req.params.topic + \"'\" +\n \" AND (\" + msg.req.authFilter + \")\" +\n \" ORDER BY id ASC LIMIT \" + msg.req.params.count +\n\";\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 580,
        "wires": [
            [
                "9495db5716e33dd6"
            ]
        ]
    },
    {
        "id": "a637cc34049dd28f",
        "type": "MySQLdatabase",
        "name": "",
        "host": "iot_practice_mysql_1",
        "port": "3306",
        "db": "tSeriesDB",
        "tz": "",
        "charset": "UTF8"
    }
]